---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks, theme = 'light' } = Astro.props;
---

<footer class="relative py-1.5 bg-[#272727] h-[60px]">
  <div class="relative mx-auto px-2 sm:px-4 dark:text-slate-300 h-full">
    <div class="flex items-center justify-between h-full">
      <div class="md:flex md:items-center md:justify-between">
        {
          socialLinks?.length ? (
            <ul class="flex">
              {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                <li>
                  <a
                    class="t focus:outline-none focus:ring-4 rounded-lg text-sm p-2 inline-flex items-center"
                    aria-label={ariaLabel}
                    href={href}
                  >
                    {icon && <Icon name={icon} class="w-3 h-3" />}
                    <Fragment set:html={text} />
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            ''
          )
        }
      </div>
      <div>
        <p class="text-right text-xs text-[#6b6b6b] mb-2">관련사이트</p>
        <p class="text-right text-xs text-[#6b6b6b]">Copyright © 2022 Big Hit Music / HYBE. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
