---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks, theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative py-2 bg-[#272727]']}>
  <div
    class="relative mx-auto px-4 sm:px-6 dark:text-slate-300 intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <div class="flex items-center justify-between">
      <div class="md:flex md:items-center md:justify-between py-4">
        {
          socialLinks?.length ? (
            <ul class="flex md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
              {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                <li>
                  <a
                    class="t focus:outline-none focus:ring-4   rounded-lg text-sm p-2.5 inline-flex items-center"
                    aria-label={ariaLabel}
                    href={href}
                  >
                    {icon && <Icon name={icon} class="w-5 h-5" />}
                    <Fragment set:html={text} />
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            ''
          )
        }
      </div>
      <!-- <div class="flex items-center gap-2">
        <Icon name="twitter" class="rounded-full bg-black p-1 text-2xl" />
        <Icon name="yt" class="rounded-full bg-black p-1 text-2xl" />
        <Icon name="fb" class="rounded-full bg-black p-1 text-2xl" />
      </div> -->
      <div>
        <p class="text-right text-sm text-[#6b6b6b] mb-2">관련사이트</p>
        <p class="text-right text-sm text-[#6b6b6b]">Copyright © 2022 Big Hit Music / HYBE. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
