---
import { Image } from 'astro:assets';
import headerLogo from '~/assets/images/header/header-logo.png';
---

<span>
  <Image src={headerLogo} alt="Logo" class="w-full h-full object-contain" />
</span>
