---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Modal from '~/components/Modal.astro';
import ListItem from '~/components/widgets/ListItem.astro';

import { headerData, footerData, menuData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isFixed />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>

  <Modal id="myModal">
    <ListItem menuData={menuData} />
  </Modal>
</Layout>
<script define:vars={{ menuData }}>
  console.log(menuData, 'menuData');
</script>
